
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="login.css">
  </head>
  <body>
	<div class="login-page">
  <div class="login-card">
  <div class="login-main">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email,class:"label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"input" %>
    </div>
  
    <div class="field">
      <%= f.label :password,class:"label" %><br />
      <%= f.password_field :password, autocomplete: "current-password",class:"input" %>
    </div>
  
  
    <div class="actions">
      <%= f.submit "Submit",class:'submit' %>
    </div>
  <% end %>
  </div>
  </div>

</div>
  </body>
</html>
