<!DOCTYPE html>
<html>
  <head>
    <title>Medplus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chart.js' %>

  </head>

  <body>
  <div class="flex-container">
    <header>
    <span>
    <% if user_signed_in? %>
    <div>
    <%= link_to "Edit profile", edit_user_registration_path ,class:'edit' %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete ,class:'sign-out' %>
    </div>
  <% else %> 
    <%= link_to "sign in", new_user_session_path,class:'sign-in' %>
  <% end %>

    </header>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

  <main>
    <%= yield %>
  </main>
    </div>
  </body>
</html>
